/*
Author: Taj Harris
File Name: style.css
*/
body{
    background-color: rgb(247, 4, 4);
}

body img {
	margin: 0;
	padding: 0;
	position: relative;
	width: auto;
}

header{
    
    
    float: left;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    
    

}

nav{
    width: 70%;
    float: right;
    margin: 5em 3em 0 0;
    padding: 1%;
    margin-bottom: 1%;
}

nav ul{
    list-style-type: none;
    margin: 0;
    text-align: center;
    list-style-type: none;

}

nav li{
    display: inline-block;
    font-size: 1.75em;
    font-family: 'Send Flower', cursive;
}

nav li a{
    display: block;
    color: rgb(248, 245, 245);
    text-align: center;
    padding: 0.5em 1em;
    text-decoration: none;
}

p { color: #f0e8e8; 
    font-family: 'Helvetica Neue', 
    sans-serif; font-size: 14px; 
    line-height: 24px; 
    margin: 0 0 24px; 
    text-align: justify; 
    text-justify: inter-word; }

img {
   
   max-width: 100%;
   display: block;
   
   
}



main{
    clear: left;
    background-color: rgb(248, 10, 10);
    padding: 2%;
    font-size: 1.25em;
    font-family: 'Permanent Marker', sans-serif;
}

.tel-link a{
    color: rgb(248, 244, 244);
    text-decoration: none;
    font-size: 1.5em;
    display: block;
}    
.tel-link {
    background-color: #404040;
    padding: 2%;
    margin: 0;
    width:80%;
    text-align: center;
    border-radius: 5px;
}
footer p{
    font-size: 0.75em;
    text-align: center;
    color: rgb(15, 15, 15);
    padding: 0 1em;
}
footer p a{
    color: rgb(8, 8, 8);
    text-decoration: none;
}
.contact {
    text-align: center;

}
.contact a {
    color: #fcfcf8;
    text-decoration: none;
}
.map{
    border: 8px solid rgb(253, 252, 252);
}
